.footWrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);
    background-color: rgba(67, 120, 255, 1); 
}
.f{
    /* border: 1px green solid; */
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 13px;
    font-size: 0.7rem;
    
}
.f_logo{
    grid-row: 2 / span 4;
    
}
.f_logo > span {
    padding: 0.4em;
}
.f_email{
    grid-row: 7;
}
.f_email > span {
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.f_phone{
    /* align-self: flex-start; */
    grid-row: 8;
}

.f_phone > span {
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.f_social{
    
}
.social{
    /* display:inline-block; */
    font-size: 4em;
    margin: 0 5px;
    /* border: 1px green solid; */
}
.logo{
    font-size: 4em;
}



@media screen and (min-width: 600px) {
    
}


@media screen and (min-width: 1025px) {
    .footWrapper{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        background-color: rgba(67, 120, 255, 1); 
    }
    .f{
        /* border: 1px green solid; */
        display:flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 13px;
        font-size: 0.7rem;
        
    }
    .f_logo{
        grid-column: 3/5;
    }
    .f_email{
        grid-column: 5/7;
    }
    .f_phone{
        grid-column: 7/9;
    }
    .f_social{
        grid-column: 9/11;
    }
    .social{
        display:inline-block;
        font-size:20px;
        margin: 0 5px;
        /* border: 1px green solid; */
    }
    .logo{
        display:block;
        font-size:20px;
    }
}

@media screen and (min-width: 1250px) {
    .f{
        font-size: 0.8rem;    
    }
}