<!-- TODO:  set footer-->
<div class="footWrapper">
  <div class="f f_logo">
      <span class="logo">
        <i class="fa fa-try" aria-hidden="true"></i>
      </span>
 </div>
  <div class="f f_email"> 
      <span class="email">Email: {{ email }}</span>
  </div>
  <div class="f f_phone"> 
    <span class="phone">Phone: {{ phone }}</span>
  </div>
  <div class="f f_social"> 
    <span class="social">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </span>
    <span class="social">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </span>
    
    
  </div>
</div>
