.ga-wrapper{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 0px;
    grid-template-rows: auto;
}
a{
    text-decoration: none;
}

.g_img1{
    grid-column: 1 / 13;
    grid-row: 1;
}
.g_img2{
    grid-column: 1 / 13;
    grid-row: 2;
}
.g_img3{
    grid-column: 1 / 13;
    grid-row: 3;
}
.g_img4{
    grid-column: 1 / 13;
    grid-row: 4;
}
.g_img5{
    grid-column: 1 / 13;
    grid-row: 5;
}
.g_img6{
    grid-column: 1 / 13;
    grid-row: 6;
}

@media screen and (min-width: 600px) {
    .g_img1{
        grid-column: 1 / 7;
        grid-row: 1;
    }
    .g_img2{
        grid-column: 7 / 13;
        grid-row: 1;
    }
    .g_img3{
        grid-column: 1 / 7;
        grid-row: 2;
    }
    .g_img4{
        grid-column: 7 / 13;
        grid-row: 2;
    }
    .g_img5{
        grid-column: 1 / 7;
        grid-row: 3;
    }
    .g_img6{
        grid-column: 7 / 13;
        grid-row: 3;
    }
}

/* for Desktop */
@media screen and (min-width: 1025px) {
    .ga-wrapper{
        grid-auto-rows: auto;
    }
    .g_img1{
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .g_img2{
        grid-column: 4 / 7;
        grid-row: 1;
    }
    .g_img3{
        grid-column: 7 / 10;
        grid-row: 1;
    }
    .g_img4{
        grid-column: 10 / 13;
        grid-row: 1;
    }
    .g_img5{
        grid-column: 1 / 7;
        grid-row: 2;
    }
    .g_img6{
        grid-column: 7 / 13;
        grid-row: 2;
    }
}