<div class="navbar-wrapper">
  <div class="btn nb_link1 nb_item">
    <a routerLink="/home" href="#"  [routerLinkActiveOptions]="{ exact:true }" routerLinkActive="active-link" id="home_link" (click)="goTo('home_link')">
      <span class="link_title">HOME</span>
    </a>
  </div>
  <div class="btn nb_link2 nb_item">
    <a routerLink="/home" fragment="portfolio" href="#" routerLinkActive="active-link" (click)="goTo('portfolio_link')">
        <span class="link_title">PORTFOLIO</span>
    </a>
  </div>
  <div class="btn nb_link3 nb_item">
    <a routerLink="/about" href="#"  routerLinkActive="active-link" id="about_link" (click)="goTo('about_link')">
      <span class="link_title">ABOUT</span>
    </a>
  </div>
  <div class="btn nb_link4 nb_item hambtn">
    <!-- TODO: this should open a fullsize page with menu item, with transperent background -->
    <a routerLink="/about">
      <i class="menuicon fa fa-bars"></i>
    </a>
  </div>
</div>
