<div class="navbar-wrapper">
  <div class="btn nb_link1 nb_item">
    <a [routerLink]="['/']" routerLinkActive="active-link">
      <span class="link_title">HOME</span>
    </a>
  </div>
  <div class="btn nb_link2 nb_item">
    <a href="#portfolio" target="_self">
      <span class="link_title">PORTFOLIO</span>
    </a>
  </div>
  <div class="btn nb_link3 nb_item">
    <a [routerLink]="['/about']">
      <span class="link_title">ABOUT</span>
    </a>
  </div>
  <div class="btn nb_link4 nb_item hambtn">
    <a [routerLink]="['/about']">
      <i class="menuicon fa fa-bars"></i>
      <!-- <img src="assets/images/hamburger-menu.png" alt=""> -->
    </a>
  </div>
</div>
