<div class="navbar-wrapper">
  <div class="btn nb_link1 nb_item">
    <a pageScroll [pageScrollDuration]="900" routerLink="/home" href="#homeWrapper"  [routerLinkActiveOptions]="{ exact:true }" routerLinkActive="active-link" id="home_link">
      <span class="link_title">{{ homeTitle }}</span>
    </a>
  </div>
  <div class="btn nb_link2 nb_item">
    <a pageScroll [pageScrollDuration]="900" routerLink="/home" fragment="portfolio" href="#portfolio_link" routerLinkActive="active-link">
        <span class="link_title">{{ portfolioTitle }}</span>
    </a>
  </div>
  <div class="btn nb_link3 nb_item">
    <a routerLink="/about" href="#"  routerLinkActive="active-link" id="about_link">
      <span class="link_title">{{ aboutTitle }}</span>
    </a>
  </div>
  <div class="btn nb_link4 nb_item hambtn">
    <!-- TODO: this should open a fullsize page with menu item, with transperent background -->
    <a routerLink="/about">
      <i class="menuicon fa fa-bars"></i>
    </a>
  </div>
</div>
