*:focus {
    outline:none;
}

.headerWrapper{
    height: 11vh;
    z-index: 2;
    background-color: rgba(36, 34, 34, 1);
    position: fixed;
    /* border: 1px solid green; */
}
.headerWrapperFull{
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 1;
    background: #007bff;
    position: fixed;
}

.collapsed{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 11vh 89vh;  
}
.no-collapsed{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 11vh;
}
.hamburger{
    outline: none;
}
.i:focus{
    outline: none;
}
.collapsed > .hamburger{
    /* border: 1px solid red; */
    grid-column: 13;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}
.no-collapsed > .hamburger{
    grid-column: 13;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}
.collapsed > .navbar{
    /* border: 1px solid red; */
    grid-column: 3 / 12;
    grid-row: 2;  
    /* justify-content: center; */
    justify-self: center;
    align-self: flex-start;
    
}

.no-collapsed > .navbar{
    grid-column: 1/13;
    grid-row: 1; 
}

button{
    background-color: transparent;
    border: none !important;
    cursor: pointer;
}
.menuicon{
    font-size: calc(2vw + 2vh );
    color: rgba(67, 120, 255, 1);
}
.menuiconfull{
    font-size: calc(2vw + 2vh );
    color: #fff;
}


@media screen and (min-width: 600px) {
    
}

@media screen and (min-width: 1025px) {
    .headerWrapper{
        height: 7vh;
        position: fixed;
        background-color: rgba(36, 34, 34, 1);
    }
    .collapsed{
        display: none;
    }
    .no-collapsed{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 7vh;
    }
    .hamburger{
        display: none;
    }
    .navbar{
        grid-column: 1 / 13;
        grid-row: 1;  
    }
}

