<div class="cm-wrapper" [ngStyle]="{'background-image': 'url(\'' + myImage + '\')'}">
  <div class="f f_mini_title">
    <span class="mini_title">{{ miniTitle }}</span>
  </div>
  <div class="f f_main_title">
    <span class="main_title">{{ mainTitle }}</span>
  </div>
  <div class="f f_sub_title">
    <span class="sub_title">{{ subTitle }}</span>
  </div>
  <div class="f f_aboutlink">
    <a [routerLink]="['/about']" class="aboutlink">{{ aboutLinkTitle }}</a>
  </div>
  <div class="f f_arrowdown">
    <a pageScroll [pageScrollOffset]="65" [pageScrollDuration]="900" href="#portfolio_link">
      <span class="arrow_down">
        <i class="fa fa-angle-down fa-5x fa-fw" aria-hidden="true"></i>
      </span>
    </a>
  </div>
</div>
