<div class="main-wrapper" [@fadeInAnimation]>
  <!-- <div class="headerWrapper" [class.headerWrapperFull]="collapse" id="headerWrapper">
      <app-header 
        (onToggleCollapse)="onToggleCollapse($event)">
      </app-header>
  </div> -->
  <div class="header-wrapper">
      <app-header></app-header>
  </div>
      

  <div class="home-wrapper" autoscroll="true" id="homeWrapper">
      <!-- <div class="g g_header" id="headerWrapper">
        <app-header></app-header>
      </div> -->
      <div class="g g_content-main">
          <app-content-main></app-content-main>
      </div>
      <div class="g g_gallery" id="portfolio_link">
          <app-gallery></app-gallery>
      </div>
      <div class="g g_footer">
          <app-footer></app-footer>
      </div>
  </div>
</div>