html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    background-color: #191919;
}

body{
    /* font-size: 100%; */
    background-color: #191919;
    width: 100%;
    height: 100%;
    position:relative;
    top:0;
    left:0;
    z-index:0;
    overflow: hidden;
}
.starter{
    position:relative;
    width:100%;
    height: 100%;
}
.lazyimage{
    display: nonng servee;
}
.preload{
    display: none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: rgb(51, 51, 63);
    /* transform: translateX(50%);
    transform: translateY(50%); */
    /* border: 2px green solid; */
    /* text-align: center; */
    /* background: url('/assets/images/loading.gif') no-repeat center center fixed;  */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  */
    opacity: 1;
}
.tim{
    display:none;
}