<div class="cm-wrapper">
    <!-- now image is part of home component -->
    <!-- <div class="f f_img">
        <img src="assets/images/BG.png" alt="" class="img">
    </div> -->
    <div class="f f_logo">
        <span class="logo">LOGO</span>
    </div>  
    <div class="f f_main_title">
        <span class="main_title">About Me</span>
    </div>  
    <div class="f f_sub_title">
        <span class="sub_title">
            I'm Graphic Designer specialized in Digital During the last 9 years, I have gained my experience at the top studios and advertisement agencies. I started my career as a print designer and I understood really fast that my world is the digital one.
            I converted my work to the digital world, in the digital world it's more challenging and there I can see through the small stuff. I have a sharp point of view
            and open mind to new things. I was born and raised on Bat Yam - TLV line,
            living birthing and loving the design world and Rap music.
        </span>
    </div>  
    <div class="f f_resume">
        <button class="btn resume_link grow glow">
        <a href="assets/images/panda.jpg" download>
            <span class="resume">Download My Resume</span>
        </a>   
        </button>
    </div>
    <div class="f f_logo_strip">
        <div class="logo_strip">
            logo logo logo logo logo logo logo logo logo
        </div>
    </div>
</div>