.p-wrapper{
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.h-wrapper {
    grid-row: 1;
}
.image-container {
    grid-row: 2;
    margin-top: 11vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img {
    width: 100vw;
}

.f-wrapper{
    grid-row: 3;
}

@media screen and (min-width: 1025px) {
    .image-container{
        margin-top: 7vh;
    }
}
